/* wikipedia preview */
@import 'node_modules/wikipedia-preview/dist/wikipedia-preview-style.css';

/* custom overrides for theme*/
:root {
  --r-heading-color: #fff;
}

.reveal section.video-background {
  border-radius: 1rem;
  backdrop-filter: blur(20px) brightness(90%);
  padding: 1rem 0 1rem 0;
  border: 1px solid rgba(255,255,255,0.5);
}
.reveal section.darken {
  backdrop-filter: blur(20px) brightness(90%);
}
.reveal h1 {
  font-size: 250%;
}
.reveal h2,
.reveal h3 {
  text-transform: capitalize;
}

/* section.has-light-background, 
section.has-light-background h1, 
section.has-light-background h2, 
section.has-light-background h3, 
section.has-light-background h4, 
section.has-light-background h5, 
section.has-light-background h6 {
  mix-blend-mode: hue;
} */

.reveal .hidden {
  display: none;
}

.reveal p {
  padding-left: 2rem;
  padding-right: 2rem;
}
.reveal li {
  font-weight: 300;
  text-shadow: 1px 1px var(--r-background-color);

  padding-top: 0.25em;
  padding-bottom: 0.25em;
}
.reveal .justify-evenly {
  justify-content: space-evenly;
  margin-left: 2%;
  margin-right: 2%;
}
.reveal .justify-evenly * {
  margin-left: var(--r-block-margin);
  margin-right: var(--r-block-margin);
}
.reveal .detail {
  font-size: 66%;
}

.reveal .lighten {
  filter: brightness(140%);
}

@keyframes reveal {
  0% {
    opacity: 0;
  }
  100% {
    background-size: 300% 300%;
    opacity: 1;
  }
}
@keyframes glow {
  30% {
    text-shadow: 0 0 10px #fff;
  }
  33% {
    text-shadow: 0 0 8px #fff;
  }
  80% {
    text-shadow: 0 0 1px #fff;
  }
}
.reveal .glow {
  animation: glow 3s linear infinite 1s;
}

.reveal .instruction {
  color: darkred;
}

.reveal thead {
  font-weight: bold;
}

.reveal tbody td {
  border-bottom: none;
}

.reveal .left {
  text-align: left;
}

.reveal .left-margin {
  margin-left: 2rem;
}

.reveal .backdrop, .reveal .quote, .history .reveal section p, .history .reveal section ul, .history .reveal section ol {
  background-color: rgba(10,0,0,0.66);
}

.reveal .backdrop, .reveal .quote {
  display: block;
  padding: 0.25em 0;
  border-radius: 0.2rem;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  color: var(--r-main-color);
}

.reveal .backdrop {
  display: inline-block;
  padding: 0.25em 0.5em;
  min-width: 25%;
}

.reveal .backdrop li {
  margin-left: 1.25em;
}

.reveal .backdrop li::marker {
  color:rgba(210,180,180, 0.7);
}

.reveal .backdrop ol, .reveal .backdrop ul {
  margin-left: 0;
  padding-left: 0;
}

.column-list > ul, .column-list > ol {
  column-count: 2;
  column-gap: 2em;
}

.reveal .quote {
  padding: 1.5em;
  text-align: left;
  font-size: 75%;
  width: 70%;
  min-width: 26em;
  position: relative;
  margin: auto;
  /*font-style: italic;*/
}

.reveal .quote .attribution {
  display: block;
  text-align: right;
  font-style: italic;
  margin-top: 0.75em;
}

.reveal .quote .attribution::before {
  content: "\2053";
  margin-right: 0.3em;
  font-weight: normal;
}

/*
.reveal div.attribution {
  display: block;
  width: 100%;
  height: 100%;
}
*/

.reveal div#attribution ul {
  list-style-type: none;
  position: absolute;
  top: 0;
  bottom: auto;
  right: 0;
  left: auto;
  z-index: 11;
  margin: 0.4em;
  font-size: 1rem;
  animation: 3s linear fadeIn;
}

.reveal div#attribution {
  color: rgba(255,255,255,0.4)
}

@keyframes fadeIn {
  to { opacity: 1; }
}

@keyframes titleSplash {
  from { opacity: 0; }
  10% { opacity: 1; }
  60% { opacity: 1; }
  to { opacity: 0; }
}

.reveal .past .fadeout, .reveal .future .fadeout {
  animation-play-state: paused;
  opacity: 0;
}

.reveal .present .fadeout {
  animation-play-state: running;
  animation:  12s linear forwards titleSplash;
}

.reveal .pushright {
  position: relative;
  left: 33%;
  width: 66%;
}

.reveal .small {
  font-size: 0.65em;
}

.reveal .low-vis {
  opacity: 0.5;
}

.reveal .small-print {
  font-size: 8pt;
}

.reveal .highlighted li {

}

.reveal .highlighted li strong {
  font-weight: normal;
  text-decoration: underline;
  text-decoration-thickness: from-font;
  filter: brightness(150%);
  /*
  background-color:rgba(0, 0, 0, 0.5);;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  padding: 0.2em;
  border-radius: 0.2em;
  border: #fff;
  */
  /*
  filter: drop-shadow(0px 0px 3px rgba(255,250,250, 0.7));
  */

}

.reveal .license p, .reveal .license img {
  margin: 0;
}

.reveal .license {
  max-width: 30em;
  margin: auto;
  margin-bottom: 3em;
}

.reveal .center ul {
  text-align: center;
  margin: 0;
  padding: 0;
}

.reveal .nobullet ul {
  list-style-type: none;
  padding: 0;
}

.reveal table.text td {
  vertical-align: top;
  text-align: left;
  padding: 1em;
}

.reveal table.text td h3, .reveal table.text td h4 {
  text-align: center;
}

.reveal table.text td p {
  padding: 0;
}

.reveal .tall {
  max-width: 26em;
  margin: auto;
}

.reveal .reminder {
  display: block;
  float: right;
  text-align: right;
  min-width: 10em;
  width: auto;
}

/* Past Present Future */

.reveal #year {
  position: absolute;
  top: 0;
  left: -0.1em;
  bottom: auto;
  right: auto;
  font-size: 50vmin;
  line-height: 0.5;
  font-weight: bolder;
  font-stretch: condensed;
  color: rgba(210,180,180, 0.7);
  mix-blend-mode: difference;
  -webkit-text-stroke: 1px black;
  animation: 10s linear 5s 1 both yearFadeOut;
}

@keyframes yearFadeOut {
  to {
    opacity: 0.2;
  }
}

@keyframes yearHover {
  20% { 
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

/* restart animation on hover */
@keyframes emptyanim {}
.reveal #year:hover {
  animation: 2s linear both yearHover;
}

.history .reveal p, .history .reveal ul, .history .reveal ol, .history .reveal .quote {
  text-align: left;
  font-size: 80%;
  padding: 1rem 1.2rem;
  margin: auto;
  max-width: 26em;
  backdrop-filter: blur(2px);
}

.history .reveal ul, .history .reveal ol {
  padding-left: 1.5em;
  padding-right: 0;
  display: block;
}

.history .reveal p a {
  font-weight: bold;
}

.history .reveal section.stack.present section.present {
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.history .reveal .quote {
  font-style: italic;
  margin-top: 2em;
  background-color: rgba(40, 9, 0, 0.7);
  border: 4px double rgba(210,180,180, 0.9);
  padding: 1em 1.5em;
}

div.artist > ul, div.artist > h3 {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

div.artist > ul > li {
  padding: 0.25rem 0;
}

div.artist.r-stretch > ul, div.artist.r-stretch > h3 {
  padding: 0.5rem 0.9rem;
  text-transform: unset;
  position: absolute;
  bottom: 0px;
  left: 0px;
  font-size: 60%;
}


.reveal .dates ul, .reveal ul.dates {
  list-style: none;
}

.reveal .dates ul > li, .reveal ul.dates > li {
  margin-left: 0;
}

@media screen and (min-width: 1000px) {
  .history .reveal section p, .history .reveal section ul, .history .reveal section ol, .history .reveal section h2, .history .reveal section h3, .history .reveal section h4 {
    max-width: 30vw;
    /*margin-right: auto;*/
    margin-left: 0;
    min-width: 600px;
  }

  .history .reveal section p, .history .reveal section ul, .history .reveal section ol {
    font-size: 65%;
    min-width: 25em;
  }

  .history .reveal section h1, .history .reveal section h2, .history .reveal section h3 {
    margin-left: 1rem;
  }

  .history .reveal section h1 {
    font-size: 200%;
  }

  .history .reveal section h2 {
    font-size: 120%;
  }

  .history .reveal section h3 {
    font-size: 100%;
  }

  .history .reveal section h4 {
    font-size: 80%;
  }

  .history .reveal .quote {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 50%;
    min-width: 15em;
  }
}

.reveal img.background {
  position: absolute;
  z-index: -1;
  filter: brightness(70%);
}

.history .reveal img.background {
  left: 0;
  top: 0;
}

/* Ken Burns-like effects */
.slide-background.present.zoomout div.slide-background-content {
  /*
  background-attachment:fixed;
  background-size: cover;
  background-position:center;
  width: 100%;
  height: 100%;
  background-position-x: 50%;
  background-position-y: 0%;
  z-index: -1;*/
  /* animation: 50s linear 0s normal none infinite running zoomout; */
  animation: 80s linear 0s forwards zoomout;
}

.slide-background.present.zoomout-left div.slide-background-content {
  animation: 80s linear 0s forwards zoomoutleft;
}

.slide-background.present.zoomout-right div.slide-background-content {
  animation: 80s linear 0s forwards zoomoutright;
}

.slide-background.present.zoomin div.slide-background-content {
  animation: 80s linear 0s forwards zoomin;
}

.slide-background.present.zoomin-left div.slide-background-content {
  animation: 80s linear 0s forwards zoominleft;
}

.slide-background.present.zoomin-right div.slide-background-content {
  animation: 80s linear 0s forwards zoominright;
}

.slide-background.present.pandown div.slide-background-content {
  height: 200%;
  background-position: top;
  animation: 80s linear 0s forwards pandown;
}

.slide-background.present.panup div.slide-background-content {
  height: 200%;
  background-position: center bottom;
  animation: 80s linear 0s forwards panup;
}

.slide-background.present.panleft div.slide-background-content {
  animation: 80s linear 0s forwards panleft;
}

.slide-background.present.panright div.slide-background-content {
  animation: 80s linear 0s forwards panright;
}

.reveal.movement-paused .slide-background.present div.slide-background-content {
  animation-play-state: paused;
}

@keyframes zoomout {
  from { transform: scale(1.33, 1.33) }
  to { transform: scale(1, 1) }
}

@keyframes zoomin {
  from { transform: scale(1, 1) }
  to { transform: scale(1.33, 1.33)  }
}

@keyframes zoomoutleft {
  from { transform: scale(1.33, 1.33) translateX(10%) }
  to { transform: scale(1, 1)  }
}

@keyframes zoomoutright {
  from { transform: scale(1.33, 1.33) translateX(-10%) }
  to { transform: scale(1, 1)  }
}

@keyframes zoominleft {
  from { transform: scale(1, 1) }
  to { transform: scale(1.33, 1.33) translateX(10%) }
}

@keyframes zoominright {
  from { transform: scale(1, 1) }
  to { transform: scale(1.33, 1.33) translateX(-10%) }
}

@keyframes pandown {
  from { transform: translateY(0%) }
  to { transform: translateY(-40%) }
}

@keyframes panup {
  from { transform: translateY(-40%) }
  to { transform: translateY(0%) }
}

@keyframes panleft {
  from { background-position: 0% 0%; }
  to { background-position: 100% 0%; }
}

@keyframes panright {
  from { background-position: 100% 0%; }
  to { background-position: 0% 0%; }
}

