/* wikipedia preview */
@import 'node_modules/wikipedia-preview/dist/wikipedia-preview-style.css';

/* custom overrides for theme*/
:root {
  --r-heading-color: #fff;
}

.reveal section.video-background {
  border-radius: 1rem;
  backdrop-filter: blur(20px) brightness(90%);
  padding: 1rem 0 1rem 0;
  border: 1px solid rgba(255,255,255,0.5);
}
.reveal section.darken {
  backdrop-filter: blur(20px) brightness(90%);
}
.reveal h1 {
  font-size: 250%;
}
.reveal h2,
.reveal h3 {
  text-transform: capitalize;
}
.reveal p {
  padding-left: 2rem;
  padding-right: 2rem;
}
.reveal li {
  font-weight: 300;
  text-shadow: 1px 1px var(--r-background-color);

  padding-top: 0.25em;
  padding-bottom: 0.25em;
}
.reveal .justify-evenly {
  justify-content: space-evenly;
  margin-left: 2%;
  margin-right: 2%;
}
.reveal .justify-evenly * {
  margin-left: var(--r-block-margin);
  margin-right: var(--r-block-margin);
}
.reveal .detail {
  font-size: 66%;
}
@keyframes reveal {
  0% {
    opacity: 0;
  }
  100% {
    background-size: 300% 300%;
    opacity: 1;
  }
}
@keyframes glow {
  30% {
    text-shadow: 0 0 10px #fff;
  }
  33% {
    text-shadow: 0 0 8px #fff;
  }
  80% {
    text-shadow: 0 0 1px #fff;
  }
}
.reveal .glow.visible {
  animation: glow 3s linear infinite 1s;
}

.reveal .instruction {
  color: darkred;
}

.reveal thead {
  font-weight: bold;
}

.reveal tbody td {
  border-bottom: none;
}

.reveal .left {
  text-align: left;
}

.reveal .left-margin {
  margin-left: 2rem;
}

.reveal .backdrop, .reveal .quote, .history .reveal p {
  background-color: rgba(10,0,0,0.66);
}

.reveal .backdrop, .reveal .quote {
  display: block;
  padding: 0.25em 0;
  border-radius: 0.2rem;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.reveal .backdrop {
  display: inline-block;
  padding: 0.25em 0.5em;
}

.reveal .quote {
  padding: 1.5em;
  text-align: left;
  font-size: 75%;
  max-width: 24em;
  position: relative;
  margin: auto;
  /*font-style: italic;*/
}

.reveal .quote .attribution {
  display: block;
  text-align: right;
  font-style: italic;
  margin-top: 0.75em;
}

.reveal .quote .attribution::before {
  content: "\2053";
  margin-right: 0.3em;
  font-weight: normal;
}

/*
.reveal div.attribution {
  display: block;
  width: 100%;
  height: 100%;
}
*/

.reveal div#attribution ul {
  list-style-type: none;
  position: absolute;
  top: 0;
  bottom: auto;
  right: 0;
  left: auto;
  z-index: 11;
  margin: 0.4em;
  font-size: 0.4em;
  animation: fadeIn linear 3s;
}

.reveal div#attribution {
  color: rgba(255,255,255,0.4)
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}


.reveal .pushright {
  position: relative;
  left: 33%;
  width: 90%;
}

.reveal .small {
  font-size: 0.65em;
}

.reveal .low-vis {
  opacity: 0.5;
}

.reveal .small-print {
  font-size: 8pt;
}

.reveal .license p, .reveal .license img {
  margin: 0;
}

.reveal .license {
  max-width: 30em;
  margin: auto;
  margin-bottom: 3em;
}

.reveal .center ul {
  text-align: center;
  margin: 0;
  padding: 0;
}

.reveal .nobullet ul {
  list-style-type: none;
  padding: 0;
}

.reveal table.text td {
  vertical-align: top;
  text-align: left;
  padding: 1em;
}

.reveal table.text td h3, .reveal table.text td h4 {
  text-align: center;
}

.reveal table.text td p {
  padding: 0;
}

.reveal .tall {
  max-width: 26em;
  margin: auto;
}

/* Past Present Future */

.reveal #year {
  position: absolute;
  top: 0;
  left: -0.1em;
  bottom: auto;
  right: auto;
  font-size: 50vmin;
  line-height: 0.5;
  font-weight: bolder;
  font-stretch: condensed;
  color: rgba(210,180,180, 0.7);
  mix-blend-mode: difference;
}

.history .reveal p, .history .reveal .quote {
  text-align: left;
  font-size: 80%;
  padding: 1rem 1.2rem;
  margin: auto;
  max-width: 26em;
  backdrop-filter: blur(2px);
}

.history .reveal section.stack.present section.present {
  position: absolute;
  bottom: 0px;
}

.history .reveal .quote {
  font-style: italic;
  margin-top: 2em;
  background-color: rgba(40, 9, 0, 0.7);
  mix-blend-mode: difference;
  border: 4px double rgba(210,180,180, 0.9);
  padding: 1em 1.5em;
}

@media screen and (min-width: 1000px) {
  .history .reveal p, .history .reveal h2, .history .reveal h3, .history .reveal h4 {
    max-width: 30vw;
    margin-right: auto;
    margin-left: 0;
  }

  .history .reveal p {
    font-size: 65%;
    min-width: 15em;
  }

  .history .reveal h1, .history .reveal h2, .history .reveal h3 {
    margin-left: 1rem;
  }

  .history .reveal h1 {
    font-size: 200%;
  }

  .history .reveal h2 {
    font-size: 120%;
  }

  .history .reveal h3 {
    font-size: 100%;
  }

  .history .reveal h4 {
    font-size: 80%;
  }

  .history .reveal .quote {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 50%;
  }
}

.reveal img.background {
  position: absolute;
  z-index: -1;
  filter: brightness(70%);
}

.history .reveal img.background {
  left: 0;
  top: 0;
}

